@import url('https://fonts.googleapis.com/css2?family=Gugi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&display=swap');


body{
    background-color: rgb(0, 0, 0);
    margin:0;
}

/*Navbar*/

.navbar{
   
    display: flex;
    justify-content: space-around;
    align-items: center;
   

}
.nav-menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 43%;
    padding: 20px;
    font-family: 'Courier New', Courier, monospace;
  
    gap: 20px;
    font-family: 'oxanium';
  }
  
.nav-menu img{
    width: 230px;
  }
  
.nav-link {
    font-size: 1rem;
    font-weight: 500;
    color: #ffffff;
    transition: all ease-in-out 0.2s;
    text-decoration: none;
    font-family: 'gugi';
  }
  
.nav-link:hover {
    letter-spacing: 0.5px;
  }
.navbar button{ 
       padding: 12px 24px;
       border-radius: 08px;
       background: linear-gradient(90deg, #FF0D07 0%, #FF0359 100%);
       border: 0;
       cursor: pointer;
  }
.navbar button:hover{
    transform: scale(1);

  }


  /*landing*/
.home{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.home img{
    width: 95%;
    overflow: hidden;
   
  }

.home .button-container{
    display: flex;
    width: 100%;
    justify-content: center;
    position: absolute;
    gap: 49px;
    top: 545px;
    
}  

.home .button1{
box-sizing: border-box;
width: 180px;
height: 54px;
border: 3px solid #FFFFFF;
border-radius: 7.5px;
color: white;
background-color: rgba(255, 255, 255, 0.049);
font-family: 'gugi';
}

.home .button2{
width: 180px;
height: 54px;
background: #FFFFFF;
border-radius: 7.5px;


}

/* hackathon */
.hack{
  display: flex;
  justify-content: center;
  color: white;
  font-family: 'gugi';
  gap: 100px;
  margin: 160px;
}
.hack .mine{

  width: 500px;
}
.hack .details h1{
  font-size: 41px;
  font-family: 'bakbak one';
  font-weight: 100;
}

.hack .details p{
  font-size: 14px;
  line-height: 28px;
  text-align: justify;
  padding-right: 80px;
}
.hack .details ul{
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 10px;
  padding: 0;
  

}
.hack .details img{
  width: 35px;
  height: 40px;
  
}

.details li{
  display: flex;
  align-items: center ;
  gap: 20px;
}

/* logos */

.logos{
  display: flex;
  justify-content: center;
  gap: 80px;
  
}

.logos img{
  width: 200px;
  cursor: pointer;
}

/* timeline */

.time-line{

   width: 100%;
   height: 500px;
   overflow: hidden;
   display: flex;
   justify-content: flex-start;

}
.time-line hr{
  border: 4px dashed rgba(255, 255, 255, 0.242);
  border-radius: 0;
  height: 350px;
  
  border-image: initial;

  
  position: relative;
  
}









.time-line  hr:nth-child(1){
    transform: rotate(60deg);
    border-color: red;
}
.time-line  hr:nth-child(3){
  transform: rotate(120deg);
}
.time-line  hr:nth-child(5){
  transform: rotate(60deg);
}
.time-line  hr:nth-child(7){
  transform: rotate(120deg);
}
.time-line  hr:nth-child(9){
  transform: rotate(60deg);
}
.time-line .box{
  width: 50px;
  height: 50px;
  background-color: rgb(98, 93, 93);
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-size: 40px;
  font-family: 'bakbak one';
  border-radius: 3px;
}
.time-line .box:nth-child(2){
  top: 80px;
  background: linear-gradient(90deg, #FF0D07 0%, #FF0359 100%);
  border-radius: 2px;
   
}
.time-line .box:nth-child(4){
  top: 250px;
   
}
.time-line .box:nth-child(6){
  top: 80px;
   
}
.time-line .box:nth-child(8){
  top: 250px;
   
}